.navbar{
    display: flex;
    justify-content: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav_logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.nav_logo p{
    color:black;
    font-size:38px;
    font-weight:600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style:none;
    color: rgb(17, 16, 16) ;
    gap:50px;
    font-size: 20px;
    font-weight:600;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.nav-menu hr{
    border: none;
    width:80%;
    height:3px;
    border-radius: 10px;
    background: rgb(226, 16, 16);
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap:45px;

}
.nav-login-cart button{
    width:157px;
    height:58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color:#515151;
    font-size:20px;
    font-weight: 500;
    background: white;
    cursor: pointer;

}

.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width:22px;
    height:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    margin-left: -65px;
    border-radius: 11px;
    font-size:14px;
    background:red;
    color:white;
}